body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: radial-gradient(circle, lightblue, pink);
}

.tool-part-1 {

    position: relative;
    top: 100px;
    right: 20px;
}

h1 {
    text-align: center;
    position: relative;
    top: 150px;
}


.upload-image {
    position: relative;
    left: 50px;
}

/*
.upload-image::-webkit-file-upload-button {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
}
*/


#upload-button {
    background-color: black;
    color: white;
    position: relative;
    bottom: 40px;
    border-radius: 15px;
    padding: 5px 10px;
}


.input-image {
    background-color: transparent;
    text-align: center;
    position: relative;
    left: 405px;
    top: 200px;
}


.drag-and-drop {

    margin: 10px;
    height: 250px;
    width: 200px;
    border: 1px;
    border-style: solid;
    border-radius: 25px;
    cursor: pointer;

}

.take-a-picture {
    margin: 10px;
    height: 250px;
    width: 200px;
    border: 1px;
    border-style: solid;
    border-radius: 25px;
    cursor: pointer;
}

.content {
    position: relative;
    top: 70px;
}


input[type=submit] {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px 30px;

    position: absolute;
    top: 550px;
    right: 785px;


}


#copyright {
    position: absolute;
    right: 30px;
    bottom: 5px;
}
