body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: radial-gradient(circle, lightblue, pink);
}



.image-container {

    height: 500px;
    width: 500px;

    /*
    border: 1px;
    border-style: solid;
    border-radius: 10px;
*/

    position: absolute;

    left: 35vw;


}



#preview-image {

    max-width: 100%;
    max-height: auto;

    height: 20%;
    width: 20%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.buttons {
    position: absolute;

    left: 40vw;
    top: 60vh;
}

.btn {
    width: 150px;
    height: 70px;
}

.output-text-boxes {
    position: absolute;

    left: 33vw;
    top: 70vh;
}

#output-1 {
    margin-right: 120px;

    position: relative;
    top: 20px;
}

#output-2 {
    margin-left: 140px;

    position: relative;
    left: 140px;

    bottom: 10px;
}
